In [1]:
import re

In [5]:
'Duc' == r'Duc|a'

False

SyntaxError: invalid syntax (<ipython-input-7-85bc4eeb23cb>, line 1)

In [12]:
'/review/rw6206614/'.split('/')[-2]

'rw6206614'

In [4]:
''.split('/')[-2]

IndexError: list index out of range

In [9]:
s = '/html/body/div[1]/div[1]/div[{0}{1}]'

In [11]:
s.format(1, 2)

'/html/body/div[1]/div[1]/div[12]'

In [1]:
from pandas import read_csv

In [14]:
df = read_csv('data/review_pagination_keys/pkeys_0_3.csv')

In [15]:
df.head()

      film_id                                               keys
0  tt10627548  ['g4wp7drmqa3tg3ql66xx3mrrqls42abty4hhzo5ziwr2...
1   tt7126948  ['g4wp7dblq43da3qb66xhtnjyrhtm4abyy4hhzo5ziwr2...
2   tt8522006  ['g4wp7djjqu2dgyyc7wxhvobqrltm4bryy4hhzo5ziwr2...

In [12]:
film_ids = list(df['film_id'].values)

In [13]:
for film_id in film_ids[0:4]:
    print(film_id)

tt10627548
tt8522006
tt7126948
tt10618286

In [8]:
df.loc[0:4]

      film_id
0  tt10627548
1   tt8522006
2   tt7126948
3  tt10618286
4   tt9624766